<div class="jumbo">
  <div class="right tomster"></div>
  {{!-- yield (generally, ember helpers) is a keyword in ember similar to props.children in react. It is a property to the component that takes the child elements and adds it in it's position. https://stackoverflow.com/questions/19982257/ember-js-handlebars-render-vs-outlet-vs-partial-vs-view-vs-control --}}
  {{yield}}
</div>